<!-- Authors: Ryan Reed, Tyler Hinthorn -->

<!DOCTYPE html>
<html>
<head>
    <title>Byte Athletic Gear</title>

    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="../css/style.css">
</head>

<header>
    <h1>Byte Athletic Gear</h1>
</header>

<div class="topnav">
        <a href="invoices">Invoices</a>
        <a href="customers">Customers</a>
        <a href="products">Products</a>
        <a href="categories">Categories</a>
        <a href="product_types">Product Types</a>
        <a href="product_invoices">Product Invoices</a>
</div>

<body>
    {{{body}}}
</body>

<footer>
    <p>&copy; 2023 R. Reed & T. Hinthorn, Oregon State University</p>
</footer>
</html>